@import 'config';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Lora';
    color: $white;
    background-color: $primary;
    font-size: 14px;
}

// typography

h1{
    font-size: 1.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
}
h3{
    font-size: 1.3rem;
    font-weight: 600;
}

h4{
    font-size: 1rem;
    font-weight: 600;
}

h5,
h6{
    font-size: 0.9rem;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
a,
p,
label,
blockquote,
span{
    color: #fff;
}

a,
p,
label,
blockquote,
span{
    font-size: 14px;
    font-weight: 300;
}

button{
    outline: none;
    border: 0;
}

a{
    text-decoration: none;
}

a,
button{
    cursor: pointer;
}

li{
    list-style: none;
}

.conatiner{
    padding: 0.5em;
    position: relative;
}

a{
    text-decoration: none;
}

/*--------------------------------------------------------------
# GUEST
--------------------------------------------------------------*/

.loginContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 6%;
    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: lighten($color: $primary, $amount: 5%);
        padding: 2em;
        height: 32em;
        width: 483px;
        border-radius: 10px;
        .login-header {
            width: 100%;
            text-align: center;
            h6 {
                font-weight: 300;
                text-transform: uppercase;
                color: $light-white;
            }
            h1 {
                font-weight: 500;
                text-transform: capitalize;
    
            }
        }
        form {
            width: 100%;
            .control {
                display: flex;
                flex-direction: column;
                margin: 1em 0;
                .error {
                    color: $danger;
                }
                label {
                    font-size: 0.875rem;
                }
                .input {
                    outline: none;
                    background: transparent;
                    border: 0.5px solid $light-white;
                    color: $white;
                    border-radius: 5px;
                    width: 100%;
                    padding: 1em 0.5em;
                    margin: 0.5em 0;
                }

                .control-password {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/

.window-event{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.halt {
    position: absolute;
    opacity: 0;
}

.freeze {
    position: fixed;
    background:$primary;
    opacity: 0.6;
}

.app{
    position: relative;
    display: flex;
    width: 100%;

    .divider1{
        width: 2%;
        background-color: $primary;
    }
    .divider2{
        width: 3%;
        background-color: #cceabb;
        border-right: 0.5em solid $white;
    }
    .navbar{
        overflow: scroll;
        width: 13%;
        background-color: $primary;
        height: 100vh;
        border-right: 2px solid $white;
        &::-webkit-scrollbar{
            display: none;
        }
            .navabar-menu{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 1em;
                a{
                    font-size: 1rem;
                    font-weight: 300;
                    color: $light-white;
                    text-align: left;
                    width: 100%;
                    margin: 0.5em 0;
                    padding-left: 0.5em;
                    text-transform: capitalize;
                }
                a:first-child{
                    text-align: center;
                    margin: 0;
                    padding-left: 0;
                    i{
                        margin-right: 0.5em;
                    }
                }
                .router-link-exact-active{
                    color: $white;
                }

                .collections{
                    margin: 3em 0 1em 0;
                    cursor: pointer;
                    h2{
                        font-size: 1rem;
                        font-weight: 300;
                        border-left: 5px solid $white;
                        padding-left: 0.5em;
                        width: 10rem;
                        overflow: hidden;
                        transition: border-bottom 1s ease-in;
                    }
                }
            }
    }
    .rightPanel{
        width: 87%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;
        .addUrl{
            min-height: 5em;
            margin-top: 5em;
            .collection-container{
                font-size: 0.875rem;
                margin-left: 2em;
                margin-bottom: 1em;
                i{
                    margin-right: 0.5em;
                    cursor: pointer;
                }
                label{
                    font-size: 1.5rem;
                }
            }
            .emptyCategoryLabel {
                margin-left: 3%;
            }
            .modal {
                position: fixed;
                top: 40%;
                left: 60%;
                background-color: lighten($color: $primary, $amount: 5%);
                box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
                padding: 1em;
                width: 30em;
                z-index: 10000;
                text-align: center;
                .fa-times {
                    position: absolute;
                    right: 1em;
                    cursor: pointer;
                }
                .modal-content {
                    h1{
                        font-weight: 300;
                        text-transform: capitalize;
                    }
                    ul {
                        margin: 1em;
                        li{
                            font-size: 0.875rem;
                            font-weight: 300;
                            text-align: left;
                            list-style: decimal !important;
                            color: $light-white;
                        }
                    }
                }
            }

            .Loader__container {
                display: block;
                height: 100%;
                width: 100%;
    
                .Loader__item {
                    display: inline-block;
                    font-size: 2.5em;
                    padding: 20px 5px;
    
                    &:before {
                        content: 'â—';
                    }
                    &:nth-child(5) {
                    --animation-shift-neg: calc(-200px - 208px);
                    animation: flow var(--animation-time) infinite var(--animation-easing);
                    }
                    &:nth-child(4) {
                    --animation-shift: 240px;
                    --animation-shift-neg: calc(-200px - 164px);
                    animation: flow var(--animation-time) 100ms infinite var(--animation-easing);
                    }
                    &:nth-child(3) {
                    --animation-shift: 284px;
                    --animation-shift-neg: calc(-200px - 122px);
                    animation: flow var(--animation-time) 200ms infinite var(--animation-easing);
                    }
                    &:nth-child(2) {
                    --animation-shift: 328px;
                    --animation-shift-neg: calc(-200px - 80px );
                    animation: flow var(--animation-time) 300ms infinite var(--animation-easing);
                    }
                    &:nth-child(1) {
                    --animation-shift: 372px;
                    --animation-shift-neg: calc(-200px - 38px );
                    animation: flow var(--animation-time) 400ms infinite var(--animation-easing);
                    }
                    @-webkit-keyframes color {
                    100%, 0% {
                        stroke: #005dad;
                    }
                    80%, 90% {
                        stroke: #1abc9c;
                    }
                    }
                    @keyframes color {
                    100%, 0% {
                        stroke: #005dad;
                    }
                    80%, 90% {
                        stroke: #1abc9c;
                    }
                    }
                    @-webkit-keyframes flow {
                    0% {
                        color: #005dad;
                        font-size: 2em;
                        opacity: 0;
                        transform: translateX(var(--animation-shift-neg));
                    }
                    35%, 65% {
                        opacity: 1;
                    }
                    90% {
                        opacity: 0;
                    }
                    100% {
                        color: #1abc9c;
                        font-size: 2.5em;
                        opacity: 0;
                        transform: translateX(var(--animation-shift));
                    }
                    }
                    @keyframes flow {
                    0% {
                        color: #005dad;
                        font-size: 2em;
                        opacity: 0;
                        transform: translateX(var(--animation-shift-neg));
                    }
                    35%, 65% {
                        opacity: 1;
                    }
                    90% {
                        opacity: 0;
                    }
                    100% {
                        color: #1abc9c;
                        font-size: 2.5em;
                        opacity: 0;
                        transform: translateX(var(--animation-shift));
                    }
                    }
                }
            }
        }
    }

    // forms

    form{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1em 1em 1em;
        .field{
            .input{
                padding: 0.5em;
                outline: none;
                border-bottom: 1px solid $white;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;
                color: $white;
                background: none;
                transition: border 0.5s ease-in;
            }

            .input:active,
            .input:hover{
                border: 1px solid $white;
                option {
                    background: $primary;
                    margin: 1em;
                    line-height: 2;
                }
            }

            .help{
                font-size: 0.8rem;
                font-weight: 100;
                color: $danger
            }
        }
    }

    //end forms

    .home {
        position: relative;
        .topnav {
            position: fixed;
            padding: 1em;
            width: 85.75%;
            background-color: darken($primary, 1%);
            z-index: 1000;
            .fa-bars {
                display: none;
            }
            .topnavItem {
                color: $light-white;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border: 1px solid $light-white;
                    padding: 0.5em 1em;
                    .fa-user-circle {
                        font-size: 1.3rem;
                        font-weight: 300;
                    }
                    label {
                        margin: 0 1em;
                        cursor: pointer;
                    }
                }
            }
        }
        .topnavModal {
            position: fixed;
            top: 4em;
            right: 5%;
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
            padding: 1em;
            width: 20em;
            z-index: 10000;
            background-color: $primary;
            ul {
                border-top: 1px solid $light-white;
                padding-top: 0.5em;
                margin-top: 1em;
            }
        }
        .all-content {
            width: 100%;
            padding-top: 5em;
            border-top: 2px solid $white;
            .search {
                display: flex;
                align-items: center;
                background-color: #fff;
                width: 20em;
                margin-left: 3%;
                padding: 0.3em;
                border-radius: 5px;
                cursor: pointer;
    
                .search-input {
                    outline: none;
                    border: 0;
                    background: transparent;
                    width: 90%;
                }
                
                .search-icon {
                    font-size: 1.5rem;
                    color: #000;
                    width: 10%;
                }
            }
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .cards-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: darken($primary, 1%);
                    margin: 1em;
                    padding: 1em;
                    border-radius: 5px;
                    overflow: hidden;
                    .cards-header{
                        position: relative;
                        display: flex;
                        align-items: center;
                        button {
                            outline: none;
                            border: 0;
                        }
                        .input{
                            font-size: 1.3rem;
                            color: #fff;
                            outline: none;
                            border: 0;
                            background: transparent;
                            text-transform: capitalize;
                            margin-bottom: 0.5em;
                        }
    
                        .inputActive {
                            border: 1px solid $white;
                            width: 8em;
                        }
    
                        i{
                            display: none;
                            position: absolute;
                            top: 0.5em;
                            right: -1em;
                            cursor: pointer;
                        }
    
                        i:active,
                        i:hover{
                            color: #b31313;
                        }
    
    
                    }
                    a{
                        .ogImage {
                            height: 15em;
                            width: 15em;
                            padding: 3em;
                            background-color: $white;
                            border-radius: 5px;
                            overflow: hidden;
                            img{
                                height: auto;
                                min-height: 100%;
                                width: 100%;
                            }
                        }
                    }
    
                    .cards-body{
                        display: block;
                        width: 100%;
                        text-align: left;
                        padding: 1em !important;
                    }
                }
    
                .cards-item:hover .cards-header i {
                    display: block;
    
                }
            }
    
    
            //Nothing found placeholder
    
            .emptyPage {
                display: block !important;
                position: absolute;
                top: 20em;
                left: 50%;
                transform: translate(-50%);
                background-image: url("/images/nothinghere.jpg");
                background-repeat: no-repeat;
                height: 25em;
                width: 800px;
                h1 {
                    position: absolute;
                    bottom: 30%;
                    left: 50%;
                    transform: translate(-50%);
                    text-align: center;
                }
            }
            //category update 
            .updateCategory {
                display: block;
                margin-left: 1em;
                .wrapper {
                    .category-heading {
                        position: relative;
                        font-size: 2rem;
                        font-weight: 600;
                        color: $white;
                        outline: none;
                        border: 0;
                        width: 10em;
                        background: transparent;
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                    .inputActive {
                        border: 1px solid $white;
                    }
                    .category-underline {
                        border: 1px solid transparent;
                        width: 0;
                        transition: all 200ms ease-in;
                        z-index: 1000;
                    }
                    &:hover > .category-underline {
                        border: 1px solid $white;
                        width: 150px;
                    }
                    .is-danger {
                        font-size: 0.875rem;
                        color: $danger;
                        margin: 0.5em 0;

                    }
                }
                .editbutton {
                    display: none;
                }
            }
        }
    }
}

@import 'buttons';
@import 'mobile';
